@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Flow;
        font-weight: 400;
        font-style: normal;
        src: url("/fonts/flow-circular.woff") format("woff")
    }

    a {
        @apply font-medium text-purple-400 hover:underline hover:text-sky-500 focus:text-blue-500;
        @apply transition duration-150 ease-in;
    }

    ul > li {
        @apply ml-2 leading-6 list-inside list-disc;
    }

    p.list {
        @apply leading-8;
    }

}

.hljs {
    @apply bg-transparent !important;
}

pre code.hljs {
    @apply p-0 !important;
}
